@model Compendium.Models.Persona
@{
    Layout = null;
    var arcanas = ViewBag.arcanas;
}
<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<html>
<head>
    <title>Creación de Persona</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" asp-action="Index">Compendium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" asp-action="ArcanaList">Arcana List</a>
      <a class="nav-link" asp-action="PersonaList">Persona List</a>
      <a class="nav-link disabled" href="#">Skills List</a>
    </div>
  </div>
</nav>
<body>
    <div class="container-fluid col-md-7">
    <form asp-action="PersonaAdd" method="post">
  <div class="form-group">
    <label asp-for="nombre" for="exampleFormControlInput1">Nombre</label>
    <input asp-for="nombre" type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" required/>
  </div>
  <div class="form-group">
    <label asp-for="arcana.nombre" for="exampleFormControlSelect2">Arcana</label>
    <select asp-for="arcana.nombre" multiple class="form-control" id="excmpleFormControlSelect2" required>
        @foreach (var arcana in arcanas)
                {
                    <option>@arcana.nombre</option>
                }
    </select >
  </div>
  <div class="form-group">
    <label asp-for="nivel" for="formControlRange">Nivel</label>
    <script> updateTextInput(val, id)
        </script>
<input asp-for="nivel" type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value, 'textInput');">
<input asp-for="nivel" type="text" id="textInput" value="" required/>
  </div>
  <div class="form-group">
    <label asp-for="fuerza" for="formControlRange">Fuerza</label>
    <script> updateTextInput(val, id)
        </script>
<input asp-for="fuerza" type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value, 'textInput2');">
<input asp-for="fuerza" type="text" id="textInput2" value="" required/>
  </div>
  <div class="form-group">
    <label asp-for="magia" for="formControlRange">Magia</label>
    <script> updateTextInput(val, id) 
        </script>
<input asp-for="magia" type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value, 'textInput3');">
<input asp-for="magia" type="text" id="textInput3" value="" required/>
  </div>
  <div class="form-group">
    <label asp-for="aguante" for="formControlRange">Aguante</label>
    <script> updateTextInput(val, id)
        </script>
<input asp-for="aguante" type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value, 'textInput4');">
<input asp-for="aguante" type="text" id="textInput4" value="" required/>
  </div>
  <div class="form-group">
    <label asp-for="agilidad" for="formControlRange">Agilidad</label>
    <script> updateTextInput(val, id)
        </script>
<input asp-for="agilidad" type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value, 'textInput5');">
<input asp-for="agilidad" type="text" id="textInput5" value="" required/>
  </div>
  <div class="form-group">
    <label asp-for="suerte" for="formControlRange">Suerte</label>
    <script> updateTextInput(val, id)
        </script>
<input asp-for="suerte" type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value, 'textInput6');">
<input asp-for="suerte" type="text" id="textInput6" value="" required/>
  </div>
        <button type="submit" class="btn btn-success">Añadir Persona</button>
        
</form>
</div>
 <script> function updateTextInput(val, id) {
    document.getElementById(id).value=val; 
  }
        </script>
</body>
</html>